<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "true"
    bootstrap                   = "src/Skwi/Bundle/ProjectBaseBundle/Tests/bootstrap.php" >

    <testsuites>
        <testsuite name="SkwiProjectBaseBundle Test Suite">
            <directory>src/Skwi/Bundle/ProjectBaseBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/Skwi/Bundle/ProjectBaseBundle/</directory>
            <exclude>
                <directory>src/Skwi/Bundle/ProjectBaseBundle/Resources</directory>
                <directory>src/Skwi/Bundle/ProjectBaseBundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
